<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>ShoeVault Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categories">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-business"></i>
                        <span class="text">Sales Reports</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/coupon">
                        <i class="icon material-icons md-card_giftcard"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <!-- Search functionality disabled in static version -->
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Coupon</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up"
                                onclick="createCoupon(event)">Create</button>
                            <a href="admin/coupons"><button
                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Coupon name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="couponName" />
                                    <div id="errmsgName" class="text-danger"></div>
                                </div>
                                <div class="row gx-3">
                                    <div class="col-md-4 mb-3">
                                        <label for="product_sku" class="form-label">Amount</label>
                                        <input type="number" placeholder="Type here" class="form-control"
                                            id="couponAmount" />
                                        <div id="errmsgAmount" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="product_color" class="form-label">Start date</label>
                                        <input type="date" placeholder="Type here" class="form-control"
                                            id="startDate" />
                                        <div id="errmsgStartDate" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="product_size" class="form-label">End date</label>
                                        <input type="date" placeholder="Type here" class="form-control" id="endDate" />
                                        <div id="errmsgEndDate" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_brand" class="form-label">Minimum Purchase Amount</label>
                                    <input type="number" placeholder="Type here" class="form-control"
                                        id="minPurchaseAmt" />
                                    <div id="errmsgMinPA" class="text-danger"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4"
                                        id="description">hello world</textarea>
                                    <div id="errmsgDescription" class="text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- validation -->

    <script>
        function validateCoupon() {

            const name = document.getElementById('couponName').value;
            const amount = document.getElementById('couponAmount').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const minPurchaseAmount = document.getElementById('minPurchaseAmt').value;
            const description = document.getElementById('description').value;

            // Clear previous error messages
            document.getElementById('errmsgName').innerHTML = '';
            document.getElementById('errmsgAmount').innerHTML = '';
            document.getElementById('errmsgStartDate').innerHTML = '';
            document.getElementById('errmsgEndDate').innerHTML = '';
            document.getElementById('errmsgMinPA').innerHTML = '';
            document.getElementById('errmsgDescription').innerHTML = '';

            const allowedCharacters = /^[a-zA-Z\s]+$/;


            // Name validation
            if (name === '') {
                displayErrorName('*Name is required.');
                return false;
            } else if (name.length < 3) {
                displayErrorName(`*Name must be at least 3 characters long.`);
                return false;
            } else if (name.length > 30) {
                displayErrorName(`*Name must be less than 30 characters long.`);
                return false;
            } else if (!allowedCharacters.test(name)) {
                displayErrorName("*Name can only contain letters and spaces.");
                return false;
            }


            // Amount validation
            const minPrice = 100;
            const maxPrice = 500000;

            if (amount === '') {
                displayErrorAmount('*Price is required.');
                return false;
            } else if (isNaN(amount) || amount <= 0) {
                displayErrorAmount('*Price must be a positive number.');
                return false;
            }


            // Date validation
            const dateFormat = /^\d{4}-\d{2}-\d{2}$/;

            if (!dateFormat.test(startDate) || !isValidDate(startDate)) {
                displayErrorStDate('*Invalid start date (YYYY-MM-DD).');
                return false;
            }

            if (!dateFormat.test(endDate) || !isValidDate(endDate)) {
                displayErrorEndDate('*Invalid end date (YYYY-MM-DD).');
                return false;
            }

            if (new Date(startDate) > new Date(endDate)) {
                displayErrorEndDate('*End date must be after or the same as the start date.');
                return false;
            }


            // Min Purchase Amount validation
            if (minPurchaseAmount === '') {
                displayErrorminPurchaseAmount('*Minimum purchase amount is required.');
                return false;
            } else if (isNaN(minPurchaseAmount) || minPurchaseAmount <= 0) {
                displayErrorminPurchaseAmount('*Minimum purchase amount must be a positive number.');
                return false;
            } else if (minPurchaseAmount < minPrice) {
                displayErrorminPurchaseAmount(`*Minimum purchase amount must be at least $${minPrice.toFixed(2)}.`);
                return false;
            } else if (minPurchaseAmount > maxPrice) {
                displayErrorminPurchaseAmount(`*Minimum purchase amount must be less than or equal to $${maxPrice.toFixed(2)}.`);
                return false;
            }


            // Description validation
            if (description === '') {
                displayErrorDescription('*Description is required.');
                return false;
            }

            return true;

        }

        // Helper function to check if a date is valid
        function isValidDate(dateString) {
            const date = new Date(dateString);
            return date instanceof Date && !isNaN(date) && dateString === date.toISOString().split('T')[0];
        }

        // Helper functions to display error messages
        function displayErrorName(errorMessage) {
            const errorDiv = document.getElementById('errmsgName');
            errorDiv.innerHTML = '';
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorAmount(errorMessage) {
            const errorDiv = document.getElementById('errmsgAmount');
            errorDiv.innerHTML = '';
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorStDate(errorMessage) {
            const errorDiv = document.getElementById('errmsgStartDate');
            errorDiv.innerHTML = '';
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorEndDate(errorMessage) {
            const errorDiv = document.getElementById('errmsgEndDate');
            errorDiv.innerHTML = '';
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorminPurchaseAmount(errorMessage) {
            const errorDiv = document.getElementById('errmsgMinPA');
            errorDiv.innerHTML = '';
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorDescription(errorMessage) {
            const errorDiv = document.getElementById('errmsgDescription');
            errorDiv.innerHTML = '';
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        const name = document.getElementById('couponName').value
        const amount = document.getElementById('couponAmount').value
        const startDate = document.getElementById('startDate').value
        const endDate = document.getElementById('endDate').value
        const minPurchaseAmount = document.getElementById('minPurchaseAmt').value
        const description = document.getElementById('description').value


        document.getElementById('couponName').addEventListener('input', validateCoupon)
        document.getElementById('couponAmount').addEventListener('input', validateCoupon)
        document.getElementById('startDate').addEventListener('input', validateCoupon)
        document.getElementById('endDate').addEventListener('input', validateCoupon)
        document.getElementById('minPurchaseAmt').addEventListener('input', validateCoupon)
        document.getElementById('description').addEventListener('input', validateCoupon)

    </script>

    <!-- create coupon -->

    <script>
        function createCoupon(event) {
            event.preventDefault()

            if (!validateCoupon()) {
                return console.log("*validation Error")
            }

            const name = document.getElementById('couponName').value
            const amount = document.getElementById('couponAmount').value
            const startDate = document.getElementById('startDate').value
            const endDate = document.getElementById('endDate').value
            const minPurchaseAmount = document.getElementById('minPurchaseAmt').value
            const description = document.getElementById('description').value


            const couponData = {
                name: name,
                amount: amount,
                startDate: startDate,
                endDate: endDate,
                minPurchaseAmount: minPurchaseAmount,
                description: description
            }

            fetch('/admin/createCoupon', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(couponData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        displayErrorName("*this coupon already exists")
                        Swal.fire({
                            title: "<span style='color: #FF4E4E;'>Error</span>",
                            html: "<span style='color: black;'>This coupon already exists.</span>",
                            icon: "error",
                            confirmButtonColor: "#FF4E4E", // Bootstrap's danger color
                            confirmButtonText: "OK"
                        });
                    } else if (data.success) {

                        Swal.fire({
                            title: "<span style='color: #3BB77E;'>Success!</span>",
                            html: "<span style='color: black;'>Added new Coupon.</span>",
                            icon: "success",
                            confirmButtonColor: "#3BB77E", // Bootstrap's success color
                            confirmButtonText: "OK"
                        }).then(result => {
                            if (result.isConfirmed) {
                                window.location.href = '/admin/coupon';
                            }
                        })
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        }
    </script>


</body>